<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form action="/storeMember" method="POST"/*enctype="multipart/form-data"*/>
    <div>
        <label for="email" >Email:</label>
        <input type="email" required="true" name="email" placeholder="Enter Email" required>
    </div>
    <div>
        <label for="password" >Password:</label>
        <input type="password" required="true" name="password" value="" placeholder="Enter password" required>
    </div>
    <div>
            <label for="name" >Name:</label>
            <input type="text" required="true" name="name" placeholder="Enter Name">
        </div>
        <div>
            <label for="birthday" >Birthday</label>
            <input type ="date" required="true" name="birthday">
        </div>
        <div>
            <label for="position" >Position</label>
            <input type="text" required="true" name="position" placeholder="Enter Position">
        </div>
        <div>
            <label for="department" >Department</label>
            <input type="text" required="true" name="department" placeholder="Enter Department">
        </div>
        <button type="submit">CreateMember</button>
    </form>
    <hr>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <!-- <hr> -->
    <!-- <form action="/storeStatus" method="POST">
        <button type="submit">CreateS</button>
    </form>
    <hr>
    <form action="/storeTable" method="POST">
        <button type="submit">CreateT</button>
    </form> -->
    <hr>
    <form name="deleteForm" action="/deleteDocStaff" method="POST">
        <input name="idForDel" required="true" type="text" placeholder="Enter _id">
        <button name="btn1" onclick="return onBtn1()">Del doc staff</button>
        <button name="btn2" onclick="return onBtn2()">Del doc status</button>
        <button name="btn3" onclick="return onBtn3()">Del doc table</button>
    </form>
    <!-- <form  action="/query" method="POST">
        <input name="idForQuery" required="true" placeholder="Enter _id"></input>
        <button type="submit" name="btn4"> Query  user info</button>
    </form>
    <hr> -->

    <!-- form update  -->
    <form name="updateform" action="/updateMember"  method="POST">
        <div>Update</div>
        <label for="id">ID: </label>
        <input name="id" required="true" type="text" placeholder="Enter _id">
        <form action="/storeMember" method="POST">
            <div>
                <label for="newEmail" >New-email</label>
                <input type="text" name="newEmail" placeholder="Enter New Name">
            </div>
            <div>
                <label for="newPassword" >New-password</label>
                <input type="text" name="newPassword" placeholder="Enter new password">
            </div>
            <div>
                <label for="newName" >New-name</label>
                <input type="text" name="newName" placeholder="Enter New Name">
            </div>
            <div>
                <label for="newBirthday" >New-birthday</label>
                <input type ="date" name="newBirthday">
            </div>
            <div>
                <label for="newPosition" >New-position</label>
                <input type="text" name="newPosition" placeholder="Enter Position">
            </div>
            <div>
                <label for="newDepartment" >New-department</label>
                <input type="text" name="newDepartment" placeholder="Enter Department">
            </div>
            <button type="submit" name="btn1" class="btn-update" onclick="return onBtn1()">updateDocStaff</button>
        </form>
    </form>
    <hr>
    <!-- form update password -->
    <form name="update-password-form" action="/updatePassword" method="POST">
        <div>
            <label for="id">ID: </label>
            <input name="id" required="true" type="text" placeholder="Enter _id">
        </div>
        <div>
            <label for="oldPassword" >Old-password</label>
            <input type="text" name="oldPassword" placeholder="Enter old password">
        </div>
        <div>
            <label for="newPassword" >New-password</label>
            <input type="text" name="newPassword" placeholder="Enter new password">
        </div>
        <button type="submit" name="btn-p" class="btn-update-password" >change password</button>
    </form>
    <!--form read data all staff  -->
    <hr>
    <form action="/dataMember" method="GET">
        <button type="submit">Data member</button>
    </form>
    <form action="/clearDocStatus" method="POST">
        <div>
            <label for="idClearStatus">ID: </label>
            <input name="idClearStatus" required="true" type="text" placeholder="Enter _id">
        </div>
        <button type="submit">Clear status data</button>
    </form>
</body>
<!--
<script>
    function onBtn1() {
    document.deleteForm.action = "/deleteDocStaff";
    document.deleteForm.submit();
    return true;
} -->
    <!-- function onBtn2() {
    document.deleteForm.action = "/deleteDocStatus";
    document.deleteForm.submit();
    return true;
}
    function onBtn3() {
    document.deleteForm.action = "/deleteDocTable";
    document.deleteForm.submit();
    return true;
}
</script> -->

</html>